In [25]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [78]:
import numpy as np
import pandas as pd
import datetime as dt
from datetime import datetime

# Reflect Tables into SQLAlchemy ORM

In [35]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [36]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [37]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [38]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [39]:
# Save references to each table
measurement=Base.classes.measurement
station=Base.classes.station

In [43]:
inspector = inspect(engine)
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [60]:
engine.execute('select * from measurement limit 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0)]

In [41]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [79]:
#Total dates present
session.query(func.count(measurement.date)).all()

[(19550)]

In [122]:
# Find the most recent date in the data set.
recent_date=session.query(measurement.date).order_by(measurement.date.desc()).first()
recent_date

('2017-08-23')

In [127]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

#query_date
# Calculate the date one year from the last date in data set.
#The strptime() method creates a datetime object from the given string.
cdate=dt.datetime.strptime(recent_date.date,  "%Y-%m-%d")
query_date=(cdate - dt.timedelta(days=365))

In [138]:

# Perform a query to retrieve the data and precipitation scores
#month=func.date_trunc('month', measurement.date)
result=session.query(measurement.date, measurement.prcp ).\
    filter(measurement.date > query_date).\
    group_by(measurement.date).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
precip_df=pd.DataFrame(result, columns=['Date', 'Precipitation'])
precip_df.set_index('Date', inplace=True)

# Sort the dataframe by date
precip_df=precip_df.sort_values(by=['Date'], ascending = [False])
precip_df.head()
# Use Pandas Plotting with Matplotlib to plot the data

            Precipitation
Date
2017-08-23            0.0
2017-08-22            0.0
2017-08-21            0.0
2017-08-20            0.0
2017-08-19            0.0

In [139]:
# Use Pandas to calcualte the summary statistics for the precipitation data
precip_df.describe()

       Precipitation
count     363.000000
mean        0.048843
std         0.205197
min         0.000000
25%         0.000000
50%         0.000000
75%         0.020000
max         2.620000

# Exploratory Station Analysis

In [141]:
# Design a query to calculate the total number stations in the dataset
columns = inspector.get_columns('station')
for c in columns:
    print(c['name'], c["type"])
session.query(func.count(station.id)).all()

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

[(9)]

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()